# Mac OS X Files
.DS_*

# Bundler
.bundle

# Security Preventions
db/*.sqlite3
config/database.yml
config/pubnub.yml
config/mongoid.yml
spec/dummy/db/*.sqlite3
spec/dummy/config/database.yml
spec/dummy/config/pubnub.yml
spec/dummy/config/mongoid.yml
spec/dummy/config/initializers/smtp.rb

# Monitoring files
log/*
tmp
tmp/**/*
public/uploads/*
public/clicktale/*
public/uploads/*
spec/dummy/log/*
spec/dummy/tmp/**/*
spec/dummy/public/uploads/*
spec/dummy/public/clicktale/*
spec/dummy/public/uploads/*

# Run Commands Files
.rvmrc
.powrc

# Cache
test/dummy/.sass-cache

# Vendor and Data files
pkg/
test/dummy/public/uploads/*
test/dummy/public/clicktale/*

# Emacs Temporary Files
*~
*#

# Eclipse
.directory
.project
.loadpath
